<!-- Project created for mthree/The Software Guild -->
<!-- Copyright 2020 -->
<!-- Code in this project may be used only in the context of an Angular course by registered students-->

<nav id="navMenu">
  <ul>
    <li><a class="menuItem" href="/home">Home</a></li>
    <li><a class="menuItem" href="/services">Services</a></li>
    <li><a class="menuItem" href="/projects">Projects</a></li>
    <li><a class="menuItem" href="/contact">Contact</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
