<div class="container border border-black rounded bg-dark">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="border border-green rounded bg-white m-3">
        <p class="fs-1">{{output}}</p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(7)">7</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(8)">8</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(9)">9</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperator('-')">-</button>
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(4)">4</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(5)">5</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(6)">6</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperator('+')">+</button>
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(1)">1</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(2)">2</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(3)">3</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperator('*')">x</button>
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="clear()">C</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperand(0)">0</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-primary" (click)="calculate()">=</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn-lg btn-secondary" (click)="setOperator('/')">/</button>
    </div>
  </div>
</div>